.DS_Store
.idea
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
src-tauri/gen
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

NOTES.md

local.db
local.db-shm
local.db-wal
client_wal_index

release-test-server
src-tauri/binaries/**
